.title {
  text-align: center;
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 2.1rem;
  color: #ECEFAE;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
}

ul {
  padding: 0;
  list-style: none;
  margin: 0 auto;
  max-width: 600px;
}

.task-item {
  position: relative;
  color: #312e1b;
  margin-bottom: 0.8rem;
  padding: 0.50rem 1.3rem;
  background-color: #ECEFAE;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 1s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
  font-weight: bold;
}

.task-item:hover {
  background-color: #888052;
}

.text-left {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.text-left span:not(.completed-task) {
  color: #312e1b;
}

.text-left span.completed-task {
  color: #776e3a;
  text-decoration: line-through;
}

.text-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 180px;
  justify-content: flex-end;
}

.completed-status {
  color: rgb(6, 110, 6);
  font-weight: bold;
}

.pending-status {
  color: rgb(209, 17, 17);
  font-weight: bold;
}

button {
  border: 2.5px solid #888052;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #888052;
  font-weight: 600;
  background-color: #d8dba0;
}

button:hover:not(.delete-btn, .confirm-yes, .confirm-no) {
  transform: translateY(-2px);
}

button:active:not(.delete-btn, .confirm-yes, .confirm-no) {
  transform: translateY(2px);
}

.edit-input {
  font-size: 1rem;
  padding: 0.3rem 0.4rem;
  border-radius: 6px;
  border: 1px solid #aaa;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: #d8dba0;
  box-shadow: 0 0 4px rgba(136, 128, 82, 0.5);
  outline-color: #312e1b;
}

.delete-btn {
  position: absolute;
  right: -2.3rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.8));
  opacity: 0.75;
  transform-origin: center center;
  transition: transform 1s ease, opacity 0.25s ease, filter 0.25s ease;
}

.delete-btn:hover .delete-icon {
  transform: scale(1.30);
  opacity: 1;
  filter: drop-shadow(0 0 2px #a79b5b);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background-color: #312e1b;
  border-radius: 40px;
  padding: 1.1rem 1rem 2.7rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #312e1b;
  width: 250px;
  animation: popIn 0.2s ease-out;
}

.modal-text {
  font-family: 'Quicksand';
  font-weight: bold;
  font-size: 1.5rem;
  color: #ecefaeb7;
  
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 1.65rem;
  
}

.confirm-yes,
.confirm-no {
  font-family: 'Quicksand', serif;
  font-size: 1.3rem;
  padding: 0.6rem 1.4rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 1s ease;
}

.confirm-yes {
  color: rgb(6, 110, 6);
  background-color: #11532c65; 
  border: 2px solid rgb(6, 110, 6);
}

.confirm-yes:hover {
  background-color: rgba(0, 128, 0, 0.247);
}

.confirm-no {
  color: rgb(209, 17, 17);
  background-color: #88151541;
  border: 2px solid rgb(209, 17, 17);
}

.confirm-no:hover {
  background-color: rgba(255, 0, 0, 0.247);
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}