@font-face {
  font-family: 'Gemola';
  src: url('./assets/fonts/Gemola.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand_Book.otf') format('opentype');
}

body {
  background-color: #312e1b;         
  margin: 0;
  padding: 0;                
  font-family: 'Quicksand', sans-serif; 
}

button, input, label, p {
  font-family: 'Quicksand', sans-serif;
}

.title, nav a {
  font-family: 'Gemola', serif;      
}

nav a {
  text-decoration: none;             
  color: #ecefae77;         
  font-size: 1.2rem;
  transition: color 1s ease;      
}

nav a:hover {
  color: #ECEFAE;               
}